:root {
  --light-blue: #95d8eb;
  --med-blue: #4db4d7;
  --dark-blue: #0076be;
  --earth-blue: #0000a0;
}

/* var(--success-color) */

* {
  box-sizing: border-box;
}

.App {
  border: 2px solid black;
  background: #e0ffff;
  min-height: 100vh;
  /* text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.header {
  font-size: 3rem;
  text-align: center;
  color: var(--dark-blue);
  text-decoration: underline;
  margin: 3vh 0 2rem;
  /* margin-top: 20vh;
  margin-bottom: 2rem; */
}

img {
  background: var(--light-blue);
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
