:root {
  --light-blue: #95d8eb;
  --med-blue: #4db4d7;
  --dark-blue: #0076be;
  --earth-blue: #0000a0;
}

* {
  box-sizing: border-box;
}

.App {
  /* background: #e0ffff; */
  background: url('./cloudsandtrees.jpg');
  /* background-size: cover; */
  /* background-size: 100% 100vh; */
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header {
  font-size: 3rem;
  text-align: center;
  color: var(--dark-blue);
  text-decoration: underline;
  margin: 0 0 2rem;
  padding-top: 3vh;
}

img {
  background: var(--light-blue);
}
