.current-weather {
  margin-bottom: 1.8rem;
}

.current-weather__sub {
  text-align: center;
  margin-bottom: 1rem;
}

.current-weather__sub > p {
  color: var(--dark-blue);
  font-size: 0.8rem;
  margin: 1%;
  margin-top: 0;
}

.current-weather__display {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.current-weather__display img {
  display: inline-block;
  border: 2px solid var(--earth-blue);
  border-radius: 25px;
  width: 20%;
  margin: 0;
  width: 11rem;
  margin-right: 0.2rem;
}

.current-weather__display ul {
  list-style: none;
  border: 2px solid var(--earth-blue);
  border-radius: 25px;
  background: #fff;
  color: var(--dark-blue);
  padding: 0 0.4rem;
  height: auto;
  width: 11rem;
  margin: 0;
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  margin: 0.4rem 0;
}
