.five-day {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.five-day__side-labels {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
}

.five-day__side-labels label {
  display: inline-block;
  border: 2px solid var(--med-blue);
  background: #eee;
  font-size: 1.5rem;
  color: var(--med-blue);
  text-align: center;
  flex-grow: 1;
  padding-top: 7%;
  cursor: pointer;
  transition: 0.3s;
}

.five-day__side-labels label:hover {
  background: var(--light-blue);
  color: #fff;
}

.five-day__side-labels label.active {
  background: var(--med-blue);
  color: #fff;
}

.five-day__weather-display {
  /* border: 1px solid #0f0; */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr; */
}

.tabcontent {
  height: 100%;
  display: none;
}
