.tab-item {
  border: 1px solid #369;
}

.tab-item__empty {
  display: flex;
  border: 2px solid var(--dark-blue);
  background: #fff;
  color: var(--light-blue);
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.tab-item__item {
  border: 2px solid var(--dark-blue);
  background: #fff;
  color: var(--dark-blue);
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
  font-size: 0.6rem;
}

.tab-item__head {
  text-decoration: underline;
}

p {
  text-align: center;
}

img {
  display: block;
  border: 1px solid var(--earth-blue);
  width: 50%;
  margin: 0 auto;
}
