.weather > p {
  font-size: 1.2rem;
  text-decoration: underline;
  text-align: center;
}

.weather-display {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 50rem;
  min-width: 22rem;
  margin: 0 auto;
}
