.choice-item p {
  border: 1px solid var(--dark-blue);
  margin: 0.2rem 0;
  padding: 0.2rem 0.6rem;
  background: #fff;
  color: var(--dark-blue);
  border-radius: 8px;
}

.choice-item p:hover {
  background: var(--med-blue);
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
