.search-component {
  /* border: 1px solid #00f; */
  width: 25%;
  margin: 0 auto;
  min-width: 15rem;
  max-width: 25rem;
}

.form {
  margin: 0 auto;
  /* border: 1px solid #999; */
  /* max-width: 40vw; */
}

.search-field {
  width: 100%;

  border: 2px solid var(--earth-blue);
  font-size: 1.2rem;
  padding-left: 2%;
}

.buttons {
  display: flex;

  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
}

.buttons * {
  font-size: 1.2rem;
  width: 80%;
  justify-self: center;
  margin: 1rem 0.5rem;
  border: 2px solid var(--earth-blue);
  color: #fff;
}

.search-button {
  background-color: var(--med-blue);
}

.clear {
  background-color: #e69717;
}
