.search-component {
  width: 25%;
  margin: 0 auto;
  min-width: 15rem;
  max-width: 25rem;
}

.form {
  margin: 0 auto;
}

.search-field {
  width: 100%;
  border: 2px solid var(--earth-blue);
  font-size: 1.2rem;
  padding-left: 2%;
}

.buttons {
  display: flex;
}

.buttons * {
  font-size: 1.2rem;
  width: 80%;
  padding: 0.1rem 0;
  border-radius: 4px;
  justify-self: center;
  margin: 1rem 0.5rem;
  border: 2px solid var(--earth-blue);
  color: #fff;
}

.search-button {
  background-color: var(--med-blue);
}

.clear {
  background-color: #d4a017;
}

.search-button:hover,
.clear:hover {
  cursor: pointer;
}

.search-button:focus,
.clear:focus {
  outline: none;
}
